# frontend
FRONTEND_HOST=http://localhost:5173

# backend
API_PREFIX=/api/v1
API_PORT=8444
BACKEND_CORS_ORIGINS='http://localhost'

# postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=seas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ENTER_YOUR_PREFERRED_PASSWORD
FIRST_USER_USERNAME=root
FIRST_USER_PASSWORD=ENTER_YOUR_PREFERRED_PASSWORD