# project name
PROJECT_NAME="SEAS - Smart Enrollment Advisory System"

# environment
ENVIRONMENT=development  # development, production

# frontend
FRONTEND_HOST=http://localhost:5173

# backend
API_PREFIX=/api/v1
API_PORT=8444
BACKEND_CORS_ORIGINS='http://localhost'

# google oauth2
GOOGLE_OAUTH2_CLIENT_ID=YOUR_GOOGLE_OAUTH2_CLIENT_ID
GOOGLE_OAUTH2_CLIENT_SECRET=YOUR_GOOGLE_OAUTH2_CLIENT_SECRET

# github oauth2
GITHUB_OAUTH2_CLIENT_ID=YOUR_GITHUB_OAUTH2_CLIENT_ID
GITHUB_OAUTH2_CLIENT_SECRET=YOUR_GITHUB_OAUTH2_CLIENT_SECRET

# jwt
SECRET_KEY=YOUR_SECRET_KEY_HERE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30 # 30 minutes

# postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=seas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ENTER_YOUR_PREFERRED_PASSWORD
FIRST_USER_USERNAME=root
FIRST_USER_PASSWORD=ENTER_YOUR_PREFERRED_PASSWORD

# email
SMTP_TLS=true
SMTP_SSL=false
SMTP_HOST=ENTER_SMTP_HOST_HERE
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@example.com
