# project name
PROJECT_NAME="SEAS - Smart Enrollment Advisory System"

# environment
ENVIRONMENT=development  # development, production

# frontend
FRONTEND_HOST=http://localhost:5333

# backend
API_PREFIX=/api/v1
API_PORT=8444
BACKEND_CORS_ORIGINS='http://localhost'

# google oauth2
GOOGLE_OAUTH2_CLIENT_ID=YOUR_GOOGLE_OAUTH2_CLIENT_ID
GOOGLE_OAUTH2_CLIENT_SECRET=YOUR_GOOGLE_OAUTH2_CLIENT_SECRET

# github oauth2
GITHUB_OAUTH2_CLIENT_ID=YOUR_GITHUB_OAUTH2_CLIENT_ID
GITHUB_OAUTH2_CLIENT_SECRET=YOUR_GITHUB_OAUTH2_CLIENT_SECRET

# jwt
SECRET_KEY=YOUR_SECRET_KEY_HERE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30 # 30 minutes

# postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=seas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ENTER_YOUR_PREFERRED_PASSWORD
FIRST_USER_USERNAME=root
FIRST_USER_PASSWORD=ENTER_YOUR_PREFERRED_PASSWORD

# email
SMTP_TLS=true
SMTP_SSL=false
SMTP_HOST=ENTER_SMTP_HOST_HERE
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@example.com

# llm
CHAT_MODEL="google/gemini-2.5-flash"
TABLE_SUMMARY_MODEL="openai/gpt-4o"
GOOGLE_API_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
OPENROUTER_API_KEY=  # use openrouter/ prefix to use OpenRouter as provider, e.g:, openrouter/google/gemini-2.5-flash

# embeddings model
BAAI_EMBEDDING_MODEL="BAAI/bge-m3"
CHUNK_SIZE=2048
CHUNK_OVERLAP=256

# query expansion
QUERY_EXPANSION_MODEL="google/gemini-2.5-flash-lite"

# reranking model
BAAI_RERANKER_MODEL="BAAI/bge-reranker-v2-m3"

# qdrant
QDRANT_HOST="localhost"
QDRANT_PORT=6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME="seas_documents"
QDRANT_VECTOR_SIZE=1024  # embeddings dimension

# config for adding document in batch
BATCH_DOCUMENT_UPLOAD_MAX_BATCH_SIZE=20
BATCH_DOCUMENT_UPLOAD_MAX_TOTAL_CHUNKS=5_000

# Docker images
API_IMAGE=seas-api
API_TAG=latest
