# node modules
node_modules/

# vite pre-bundled deps
.vite/

# python stuff
.ipynb_checkpoints
__pycache__/
*.py[oc]
build/
!/api/app/templates/emails/build/
dist/
wheels/
*.egg-info

# virtual environments
.venv
.venv.*
.venv-*

# local stuff
_*
!__init__.py
*.local

# log files
*.log
*.logs

# cache files
.ruff_cache
.pytest_cache

# coverage files
.coverage
.coverage.*
htmlcov/

# environment files
.env
.env.local
.env.dev
.env.prod

# other
*.bak
*.backup
